<html>
<head>
    <title>Google DeViSE Image Search Engine</title>
    <style type="text/css">
        

        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: auto;
            height: auto;
        }

        #errors {
            font-size: 5px;
            color: red
        }

        

    </style>
</head>

<body>
      
    <!-- Search query -->

    <h2>Image Search Engine</h2>
    <div id="Search_Query">
    <input type="text" name="query" id="myquery">
    <button type="button" id="search_button">Search</button> 
    <div id="errors"></div>        
    </div>

    <br>

    <!-- Search Results -->
    <div id="gallery_placeholder"></div>
    
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/myscript.js"></script>

      
</body>
</html>
